body {
  width: 960px;
}
.center {
  text-align: center;
  width: 960px;

}


.datos {
  width: 260px;
  float: left;

}

.container {

  width: 700px;
  float: left;
  
}

.parte-1 {
  display: inline-block;
  width: 233px;
  
}

.parte-2 {
  float: left;
  width: 233px;
  
}

.parte-3 {
  float: left;
  width: 233px;
  
}
.lad0-2 {
  list-style: none;
  padding-left: 0px;
}

/*TABLET*/
@media screen and (max-width: 768px) {

  body {
    width: 765px;
    
  }
  
  .center {
    text-align: center;
    width: 765px;
  }

  .datos {
    width: 250px;
    display: inline-block;
  }

  .container {
    display: inline-block;
    width: 400px;
  }


  .descripcion {
    width: 200px;
    float: left;
 
  }

  .contenido {
    width: 200px;
    float: left;
    height: 700px;
  }

  .parte-1 {
    display: block;
    
    
    
  }
  
  .parte-2 {
    display: block;
    
    
  }
  
  .parte-3 {
 display: block;
    
  }
  .lado-2 {
   
    padding-left: 20px;
  }
 

  




}