body {
    background-color: black;
    font-family: cursive;
    
  }
  
  .reloj {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: reloj 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes reloj {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  .fecha input{
    background-color: #fff;
    color: #e60073;
    width: 80%;
    padding: 20px;
    font-size: 60px;
    text-align: center;

  }