* {
  font-family: Arial, Helvetica, sans-serif;
}
.main-container {
  width: 900px;
  height: 500px;
  background-color: rgb(216, 208, 208);
  margin-left: 30px;
  margin-top: 30px;
  
}

header {
  background-color: rgb(193, 199, 199);
  text-align: center;
  height: 35px;
  width: 950px;
  font-size: 12px;
 padding-top: 2px;
}

  
.bloqueMenu .sidebar{
  background-color: rgb(76, 146, 76);
  float: left;
  top: 0px;
  width: 150px;
  height: 200px;
  position: none;
  margin-right: 10px;
}

ul {
  list-style: none;
  padding-left: 0px;
  
}

.bloqueMenu .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 2px solid rgb(117, 187, 80);
  text-align: left;
  padding-left: 10px;

}

.amarillo {
  width: 500px;
  height: 400px;
  background-color: yellow;
  float: left;
}

.gray {
  width: 200px;
  height: 200px;
  background-color: rgb(134, 143, 143);
  float: left;
  margin-left: 15px;
  font-size: 12px;
}

.parrafo {
  width: 250px;
  display: inline-block;
}
.plantas {
  display: inline-block;
}
img {
  width: 240px;
  display: inline-block;
}

footer{
  background-color: gray;

  margin-top: 20px;
  height: 35px;
}


@media screen and (max-width :768px) {
header {
  width: 768px;
}
.gray {
    width: 540px;
    height: 100px;  
    margin-left: 160px;
  }

.amarillo {
    width: 540px;
  }

.main-container {
    height:600px;
    width: 760px;
  }

  footer {
    width: 768px;
  }
}

@media screen and (max-width : 420px){

header {
  width: 418px;

}

.main-container {
  width: 390px;
  margin-left: 15px;
  height: 900px;

}
.amarillo {
  width: 390px;
  display: block;
  height: 550px;
}
.gray {
  display: block;
  margin-left: 0px;
  width: 390px;
  padding-bottom: 10px;
}
.parrafo {
  display: block;
  width: 390px;
}

.plantas {
  display: block;
  text-align: center;
}
footer {
  margin-top: 50px;
  width: 418px;
}


.bloqueMenu .sidebar {

  width: 390px;
  height: 200px;
  position: none;
}
}
