
.numb{
  color: dodgerblue ;
}

.datos {
  color: black;
  display: inline-block;
  font-size: 15px;
}

.experiencia{
  font-size: 15px;
  display: inline-block;
 
}

.formacion{
  display: inline-block;
  font-size: 15px;
} 
h1{
  font-family: Georgia;
  font-size: 32px;
}
.Datos{
  color: black;
}

/*SMARTPHONE*/

@media screen  and (max-width: 420px) {
  .numb {
    list-style: none;
    padding: 0px;
    width: 165px;
  }

  .lista {
    list-style: none;
    padding-left: 0px;
   width: 165px;
   line-height: 25px;
  }


  .linea {
    background-color: gray;
    max-width: 500px;
    height: 1px;
    width: 395px;
    margin: 0 auto;
  }


  /*Tablet*/

  @media screen and (max-width: 768px) {
    .datos{
       
      float: left;
      width: 165px;
      padding-right: 23px;
      line-height: 25px;
    }
    
    .subtitulo{
      line-height: 28px;
      margin: 3px;
   
    }

    .subtitulo2{
      padding: 5px;
      width: 300px;
      margin: 15px;
      
      
      
      

    }
    .lista {
      list-style: none;
      padding-left: 0px;
    }
  }
}

