.titulo1{
  text-align: center;

}

body{
  font-family: Arial, Helvetica, sans-serif;
 padding-left:50px;
  

}


.imag-galeria{
  width: 15%;
  padding-right: 125px;
  float: right;
}
b{
  font-size: 18px;
}

